# Parte I: Familiarizandonos con la base EPH y limpieza
La Encuesta Permanente de Hogares (EPH) es un programa nacional de
producción sistemática y permanente de indicadores sociales que lleva a cabo
el Instituto Nacional de Estadística y Censos (INDEC), que permite conocer
las características sociodemográficas y socioeconómicas de la población. Uno
de los indicadores más valiosos sobre el mercado laboral que pueden
obtenerse con los datos de esta encuesta es la tasa de desocupación.
1. Utilizando información disponible en la página del INDEC, expliquen
brevemente cómo se identifica a las personas desocupadas.

# Respuesta:
El INDEC encuentra a las personas desocupadas mediante un censo donde se le pregunta a la gente sobre su situación laboral. Para el INDEC una persona esta en estado de desocupación si no realizo ninguna actividad laboral por lo menos una semana anterior a la encuesta y que también este en condiciones de trabajar.
Este censo que controla la desocupación entre muchos otros datos se llama Encuesta Permanente de Hogares EPH. La EPH tiene códigos para definir estas variables, por ejemplo para saber si esta desocupado, con trabajo, inactivo o si es menor de 10 años se usa el código ESTADO.
El código CAT_INAC sirve para identificar aquellos que están inactivos como los jubilados, estudiantes y discapacitados.
Otro código interesante son los diferentes que hay para describir como estuvo buscando esa persona trabajo, por ejemplo PP02C1 si estuvo haciendo entrevistas, PP02C3 si se presento en algún lugar etc.

2. Entren a la página https://www.indec.gob.ar/ y vayan a la sección
Servicios y Herramientas  Bases de datos. Descarguen la base de
microdatos de la Encuesta Permanente de Hogares (EPH)
correspondiente al primer trimestre de 2004 y 2024 en formato .dta y
.xls, respectivamente (una vez descargadas, las bases a usar deberán
llamarse usu_individual_T104.dta y
usu_individual_T124.xls). En la página web, también encontrará
un diccionario de variables con el nombre de “Diseño de registro y
estructura para las bases preliminares (hogares y personas)”.
Descarguen el diccionario de cada año. En estos archivos se les indica
qué significa cada variable que aparece en la base de datos, en
particular, en la sección de Diseño de registros de la base Personas.

In [2]:
import pandas as pd
import os
#Importo matplotlib.pyplot
import matplotlib.pyplot as plt

In [3]:
url = "https://github.com/RoccoGabrielPimenta/BigDataUBA-Grupo22/raw/refs/heads/main/TP%202/usu_individual_T124.xlsx"
df = pd.read_excel(url)
df

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
0,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,3,1,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
1,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,4,1,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
2,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,5,0,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
3,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,1,1,42,S,10,675,...,NaN,8,212500.0,6,6.0,6,6.0,NaN,6,1610
4,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,2,1,42,S,10,675,...,NaN,8,212500.0,6,6.0,6,6.0,NaN,6,1610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46045,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,1,1,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46046,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,2,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46047,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,3,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46048,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,4,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46049,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,5,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0

In [6]:
url = "https://github.com/RoccoGabrielPimenta/BigDataUBA-Grupo22/raw/refs/heads/main/TP%202/usu_individual_t104.dta"
df = pd.read_stata(url)
df

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,125098,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,...,07,,06,06,,04,0.0,0.0,0.0,00000
1,125397,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,...,00,,00,00,,00,0.0,0.0,0.0,00000
2,125515,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,...,07,,07,07,,05,0.0,0.0,0.0,00020
3,125558,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,08,,08,08,,06,0.0,0.0,0.0,00000
4,125558,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,08,,08,08,,06,0.0,0.0,0.0,00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45284,285733,1.0,1.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45285,285733,1.0,2.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45286,285733,1.0,3.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45287,285733,1.0,4.0,0.0,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45288,285733,1.0,5.0,0.0,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000

a. A partir de ahora, cada grupo debe decidir trabajar con una
región del país en específico (ver variable REGION). Eliminen los
datos de todas aquellas regiones que no se encuentren dentro de
su región y unan ambos trimestres (2004 y 2024) en una sola
base.

b. Asegúrense de que todas las variables tengan el formato
correcto. Selecciones 15 variables de interés y reporten la
cantidad de valores faltantes (NA, o NaN en Python) en una
tabla por cada año. Comenten qué variables de las 15 que
seleccionarion tienen más valores faltantes y qué año.

c. Si notan valores sin sentido (como ingresos negativos) corriganla
de acuerdo a la documentación de la EPH (puede ser una
codificación de no respuesta de los individuos) y eliminen estos
valores extraños de sus 15 variables de interes. Comenten
brevemente en el reporte dicho proceso de limpieza.

# Parte II: Primer Análisis Exploratorio
3. Realicen un gráfico de barras mostrando la composición por sexo para
2004 y 2024. Comenten los resultados.

4.Realicen una matriz de correlación para 2004 y 2024 con las siguientes
variables: CH04, CH06, CH07, CH08, NIVEL ED, ESTADO,
CAT_INAC, IPCF. Utilicen alguno de los comandos disponibles en este
link o este link para graficar la matriz de correlación. Comenten los
resultados.

# Parte III: Conociendo a los ocupados y desocupados
Los siguientes incisos apuntan a ver los resultados para su región
seleccionada y comparando 2004 con 2024.
5. ¿Cuántos desocupados hay en la muestra? ¿Cuántos inactivos? ¿Cuál
es la media de ingreso per cápita familiar (IPCF) según estado
(ocupado, desocupado, inactivo)?

6. Uno de los grandes problemas de la EPH es la creciente cantidad de
hogares que no reportan sus ingresos (ver por ejemplo el siguiente
informe). ¿Cuántas personas no respondieron cuál es su condición de
actividad? Guarden como una base distinta llamada respondieron
las observaciones donde respondieron la pregunta sobre su condición
de actividad (ESTADO). Las observaciones con ESTADO=0 guárdenlas en
una base bajo el nombre norespondieron.

7. Agreguen a la base respondieron una columna llamada “PEA”
(Población Económicamente Activa) que tome 1 si están ocupados o
desocupados en ESTADO. Realicen un gráfico de barras mostrando la
composición por PEA para 2004 y 2024. Comenten los resultados.

8. Agreguen a la base respondieron una columna llamada “PET”
(Población en Edad para Trabajar) que tome 1 si están la persona tiene
entre 15 y 65 años cumplidos. Realicen un gráfico de barras mostrando
la composición por PEA para 2004 y 2024. Comenten los resultados y
comparen PET con PEA.

9. Agreguen a la base respondieron una columna llamada “desocupado”
que tome 1 si la persona está desocupada. ¿Cuántas personas están
desocupadas en 2004 vs 2024?

a. Muestre la proporción de desocupados por nivel educativo
comparando 2004 vs 2024. ¿Hubo cambios de desocupados por
nivel educativo?

b. Cree una variable categórica de años cumplidos (CH06)
agrupada de a 10 años. Muestre proporción de desocupados por
edad agrupada comparando 2004 vs 2024. ¿Hubo cambios de
desocupados por edad?

c. Seleccione una (1) variable de interés y muestre las diferencias
2004 vs 2024. ¿Hubo cambios de desocupados por edad?